<!DOCTYPE html>
<html lang="en">

<head>
	<title>Sky's profile site</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

	<link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
	<link rel="stylesheet" href="css/animate.css">

	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<link rel="stylesheet" href="css/magnific-popup.css">

	<link rel="stylesheet" href="css/aos.css">

	<link rel="stylesheet" href="css/ionicons.min.css">

	<link rel="stylesheet" href="css/flaticon.css">
	<link rel="stylesheet" href="css/icomoon.css">
	<link rel="stylesheet" href="css/style.css">

	<script src="https://kit.fontawesome.com/cb79701df1.js" crossorigin="anonymous"></script>
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

	<!--Botoom Floating Chatting  -->
	{{!-- <div style="position:fixed; right: 10px; bottom: 50px; z-index:999;">
		<div id="messages"> 

		</div>
		<form id="message-form">
			<input id="message-input" placeholder="Message">
			<button id="message-button"> Send </button>
			<button id="send-location"> Send My Location </button>
		</form>
	</div> --}}
	<!-- -->

	<div class="fabs">
		<div class="chat">
			<div class="chat_header">
				<div class="chat_option">
					<div class="header_img">
						<img src="images/personal.jpg" />
					</div>
					<span id="chat_head">Sky </span> <span class="offline">(Offline) </span>
					<span id="chat_fullscreen_loader" class="chat_fullscreen_loader"><i class="far fa-window-restore" style="margin:15px 5px"></i></span>
				</div>
			</div>
			<div class="chat_body chat_login">
				<a id="chat_first_screen" class="fab"><i class="fas fa-sign-in-alt" style="color:rgb(68, 68, 68);"></i></a>
				<p>Enter to chat message room </p>
			</div>
			<div id="chat_converse" class="chat_conversion chat_converse">
				{{!-- <a id="chat_second_screen" class="fab"><i class="zmdi zmdi-arrow-right"></i></a> --}}
				<span class="chat_msg_item chat_msg_item_admin">
					<div class="chat_avatar">
						<img src="images/personal.jpg" />
					</div>Hey there! Please leave message at here. I will have check your message when I come to here
				</span>
				 <span class="chat_msg_item chat_msg_item_admin_time" id="admin_today_time">
	 
				</span>
			</div>
			<div class="fab_field">
				<form id="message-form">
					<a id="fab_map" class="fab"><i class="fas fa-map-marked-alt"></i></a>
					<a id="fab_send" class="fab"><i class="far fa-paper-plane"></i></a>
					<textarea id="chatSend" name="chat_message" placeholder="Send a message"
						class="chat_field chat_message"></textarea>
				</form>
			</div>
		</div>
		<a id="prime" class="fab"><i class="far fa-comment-dots" style="color:rgb(68, 68, 68);"></i></a>
	</div>


	<!-- -->

	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar ftco-navbar-light site-navbar-target" id="ftco-navbar">
		<div class="container">
			<a class="navbar-brand" href="index.html"><span>SKY</span>&nbsp;&nbsp;</a>
			<button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse"
				data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="oi oi-menu"></span> Menu
			</button>

			<div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav nav ml-auto">
					<li class="nav-item"><a href="#home-section" class="nav-link"><span>Home</span></a></li>
					<li class="nav-item"><a href="#about-section" class="nav-link"><span>About</span></a></li>
					<li class="nav-item"><a href="#resume-section" class="nav-link"><span>Resume</span></a></li>
					<li class="nav-item"><a href="#services-section" class="nav-link"><span>Services</span></a></li>
					<li class="nav-item"><a href="#projects-section" class="nav-link"><span>Projects</span></a></li>
					<li class="nav-item"><a href="#guestbook-section" class="nav-link"><span>Guest Book</span></a></li>
					<li class="nav-item"><a href="#contact-section" class="nav-link"><span>Contact</span></a></li>
				</ul>
			</div>
		</div>
	</nav>
	<section class="hero-wrap js-fullheight">
		<div class="overlay"></div>
		<div class="container">
			<div class="row no-gutters slider-text js-fullheight justify-content-center align-items-center">
				<div class="col-lg-8 col-md-6 ftco-animate d-flex align-items-center">
					<div class="text text-center">
						<span class="subheading">Hey! I am</span>
						<h1>SKY HANEL KIM</h1>
						<h2>I'm a
							<span class="txt-rotate" data-period="2000"
								data-rotate='[ "Web App Developer.", "Project Freelancer." ]'></span>
						</h2>
						<h2>What I can making is
							<span class="txt-rotate2" data-period="2000"
								data-rotate='[ "Smartphone App", "Business web" ]'></span>
						</h2>
					</div>
				</div>
			</div>
		</div>
		</div>
		<div class="mouse">
			<a href="#" class="mouse-icon">
				<div class="mouse-wheel"><span class="ion-ios-arrow-round-down"></span></div>
			</a>
		</div>
	</section>


	<section class="ftco-about img ftco-section ftco-no-pt ftco-no-pb" id="about-section">
		<div class="container">
			<div class="row d-flex no-gutters">
				<div class="col-md-6 col-lg-6 d-flex">
					<div class="img-about img d-flex align-items-stretch">
						<div class="overlay"></div>
						<div class="img d-flex align-self-stretch align-items-center"
							style="background-image:url(images/personal.jpg); border-radius: 10%; ">
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-6 pl-md-5 py-5">
					<div class="row justify-content-start pb-3">
						<div class="col-md-12 heading-section ftco-animate">
							<h1 class="big">About</h1>
							<h2 class="mb-4">About Me</h2>
							<p>Hello. It's wonderful day.</br>
								Thank you to come to my website. </br>
								I am a fullstack developer who can handling and developmenting back-end programs which are  Node.JS and Express and MongoDB and front-end programs which are React and React Native for making business website and smartphone app to globaly. </p>
							<ul class="about-info mt-4 px-md-0 px-2">
								<li class="d-flex"><span>Name:</span> <span>SKY HANEL KIM</span></li>
								<li class="d-flex"><span>Date of birth:</span> <span>October 16, 1988</span></li>
								<li class="d-flex"><span>Address:</span> <span>SEOUL, REPUBLIC OF KOREA</span></li>
								<li class="d-flex"><span>Email:</span> <span>SKYKIM1016@GMAIL.COM</span></li>
								<li class="d-flex"><span>Phone: </span> <span>(+82) 010-5843-8814</span></li>
							</ul>
						</div>
					</div>
					<div class="counter-wrap ftco-animate d-flex mt-md-3">
						<div class="text">
							<p class="mb-4">
								<span class="number" data-number="10">0</span>
								<span>Project complete</span>
							</p>
							<p><a href="donwload/ICT-RESUME.pdf" download class="btn btn-primary py-3 px-3"  >Download Resume</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftco-partner">
		<div class="container">
			<div class="row">
				<div class="col-sm ftco-animate">
					<a href="#" class="partner"><img src="images/logos/nodejs.png" class="img-fluid"
							alt="NodeJS"></a>
				</div>
				<div class="col-sm ftco-animate">
					<a href="#" class="partner"><img src="images/logos/expressjs.png" class="img-fluid"
							alt="Colorlib Template"></a>
				</div>
				<div class="col-sm ftco-animate">
					<a href="#" class="partner"><img src="images/logos/mongodb.png" class="img-fluid"
							alt="Colorlib Template"></a>
				</div>
				<div class="col-sm ftco-animate">
					<a href="#" class="partner"><img src="images/logos/reactnative.png" class="img-fluid"
							alt="Colorlib Template"></a>
				</div>
				<div class="col-sm ftco-animate">
					<a href="#" class="partner"><img src="/images/logos/google.png" class="img-fluid"
							alt="Colorlib Template"></a>
				</div>
			</div>
		</div>
	</section>



	<section class="ftco-section ftco-no-pb goto-here" id="resume-section">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<nav id="navi">
						<ul>
							<li><a href="#page-1">Education</a></li>
							<li><a href="#page-2">Experience</a></li>
							<li><a href="#page-3">Skills</a></li>
							<li><a href="#page-4">Awards</a></li>
						</ul>
					</nav>
				</div>
				<div class="col-md-9">
					<div id="page-1" class="page one">
						<h2 class="heading">Education</h2>
						<div class="resume-wrap d-flex ftco-animate">
							<div class="icon d-flex align-items-center justify-content-center">
								<span class="flaticon-ideas"></span>
							</div>
							<div class="text pl-3">
								<span class="date">GRADUATED IN 2018</span>
								<h2>LAW MASTER DEGREE</h2>
								<span class="position">KOREA NATIONAL OPEN UNIVERSITY GRADUATE SCHOOL</span>
								<a href="https://www.knou.ac.kr/engknou2/" class="text-uppercase">https://www.knou.ac.kr/engknou2/</a>
							</div>
						</div>
						<div class="resume-wrap d-flex ftco-animate">
							<div class="icon d-flex align-items-center justify-content-center">
								<span class="flaticon-ideas"></span>
							</div>
							<div class="text pl-3">
								<span class="date">GRADUATED IN 2011</span>
								<h2>BACHELOR DEGREE OF COMPUTER SCIENCE</h2>
								<span class="position">NATIONAL INSTITUTE FOR LIFE LONG EDUCATION</span>
								</br><a href="http://www.nile.or.kr/eng/" class="text-uppercase">http://www.nile.or.kr/eng/</a>
							</div>
						</div>
						<div class="resume-wrap d-flex ftco-animate">
							<div class="icon d-flex align-items-center justify-content-center">
								<span class="flaticon-ideas"></span>
							</div>
							<div class="text pl-3">
								<span class="date">GRADUATED IN 2009</span>
								<h2>ASSOCIATE DEGREE OF COMPUTER SCIENCE</h2>
								<span class="position">DONG SEOUL OPEN UNIVERSITY</span>
								</br><a href="https://www.du.ac.kr/EN/index.do" class="text-uppercase">https://www.du.ac.kr/EN/index.do</a>
							</div>
						</div>
					</div>

					<div id="page-2" class="page two">
						<h2 class="heading">Experience</h2>
						<div class="resume-wrap d-flex ftco-animate">
							<div class="icon d-flex align-items-center justify-content-center">
								<span class="flaticon-ideas"></span>
							</div>
							<div class="text pl-3">
								<span class="date">DEC 2018 - JUNE 2019</span>
								<h2>MINT INTERNATIONAL COLLEGE PTY LTD </h2>
								<span class="position">[Melbourne, Australia] SOFTWARE DEVELOPER</span>
								</br><a href="http://www.minttraining.edu.au/" class="text-uppercase">http://www.minttraining.edu.au</a>
								</br></br><p>Development enviorments were NODEJS / EXPRESS / MongoDB / REACT / REDUX / ReactNative / ES6 / NPM / WEBPACK / BABEL / PHP / WORDPRESS / JQUERY / Slack / Notion / Zeplin</p>
							</div>
						</div>
						<div class="resume-wrap d-flex ftco-animate">
							<div class="icon d-flex align-items-center justify-content-center">
								<span class="flaticon-ideas"></span>
							</div>
							<div class="text pl-3">
								<span class="date">MAY 2017 - DEC 2017</span>
								<h2>CAT6K SA. DE CV </h2>
								<span class="position">[Monterrey, Mexico] SYSTEM ENGINEER</span>
								</br><a href="http://www.jobkorea.co.kr/Search/?stext=CAT6K%20S.A.%20DE%20C.V." class="text-uppercase">HOME PAGE</a>
								</br></br><p>JAVA(SPRING) / ASP.NET(MVC) / REACT / NPM / WEBPACK / BABEL / BOOTSTRAP / WEBLOGIC / ORACLE10 TOAD</p>
							</div>
						</div>
						<div class="resume-wrap d-flex ftco-animate">
							<div class="icon d-flex align-items-center justify-content-center">
								<span class="flaticon-ideas"></span>
							</div>
							<div class="text pl-3">
								<span class="date">2013 - 2015</span>
								<h2>KOREA FINANCE MAGEMENT CO. LTD </h2>
								<span class="position">[Seoul, Korea] WEB APP DEVELOPER </span>
								</br><a href="http://koreafinancenter.com/" class="text-uppercase">http://koreafinancenter.com</a>
								</br></br> <p>PHP(WordPress) / Angular / NodeJS / NginX / HTML5 / CSS3 / JQUERY / BootStrap / IOS / ANDROID / IONIC / Cordova / PhoneGap </p>
							</div>
						</div>
						<div class="resume-wrap d-flex ftco-animate">
							<div class="icon d-flex align-items-center justify-content-center">
								<span class="flaticon-ideas"></span>
							</div>
							<div class="text pl-3">
								<span class="date">2010 - 2011 </span>
								<h2>FUTUREWIZ CO. LTD</h2>
								<span class="position">[Seoul, Korea] SYSTEM DEVELOPER </span>
								</br><a href="http://www.futurewiz.co.kr/" class="text-uppercase">http://www.futurewiz.co.kr</a>
								</br></br><p>JAVA(Spring) / ASP.NET / PHP / JQuery / Eclipse / Weblogic / Tomcat / GlassFish / </br> Oracle / MS-SQL / MY-SQL / IOS / Android / Cordova / PhoneGap </p>
							</div>
						</div>
					</div>
					<div id="page-3" class="page three">
						<h2 class="heading">Skills</h2>
						<div class="row progress-circle mb-5">
							<div class="col-lg-4 mb-4">
								<div class="bg-white rounded-lg shadow p-4">
									<h2 class="h5 font-weight-bold text-center mb-4">NODE.JS</h2>

									<!-- Progress bar 1 -->
									<div class="progress mx-auto" data-value='90'>
										<span class="progress-left">
											<span class="progress-bar border-primary"></span>
										</span>
										<span class="progress-right">
											<span class="progress-bar border-primary"></span>
										</span>
										<div
											class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
											<div class="h2 font-weight-bold">90<sup class="small">%</sup></div>
										</div>
									</div>
									<!-- END -->

									<!-- Demo info -->
									<div class="row text-center mt-4">
										<div class="col-6 border-right">
											<div class="h4 font-weight-bold mb-0">28%</div><span
												class="small text-gray">Last week</span>
										</div>
										<div class="col-6">
											<div class="h4 font-weight-bold mb-0">60%</div><span
												class="small text-gray">Last month</span>
										</div>
									</div>
									<!-- END -->
								</div>
							</div>

							<div class="col-lg-4 mb-4">
								<div class="bg-white rounded-lg shadow p-4">
									<h2 class="h5 font-weight-bold text-center mb-4">REACT</h2>

									<!-- Progress bar 1 -->
									<div class="progress mx-auto" data-value='80'>
										<span class="progress-left">
											<span class="progress-bar border-primary"></span>
										</span>
										<span class="progress-right">
											<span class="progress-bar border-primary"></span>
										</span>
										<div
											class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
											<div class="h2 font-weight-bold">80<sup class="small">%</sup></div>
										</div>
									</div>
									<!-- END -->

									<!-- Demo info -->
									<div class="row text-center mt-4">
										<div class="col-6 border-right">
											<div class="h4 font-weight-bold mb-0">28%</div><span
												class="small text-gray">Last week</span>
										</div>
										<div class="col-6">
											<div class="h4 font-weight-bold mb-0">60%</div><span
												class="small text-gray">Last month</span>
										</div>
									</div>
									<!-- END -->
								</div>
							</div>

							<div class="col-lg-4 mb-4">
								<div class="bg-white rounded-lg shadow p-4">
									<h2 class="h5 font-weight-bold text-center mb-4">REACT NATIVE</h2>

									<!-- Progress bar 1 -->
									<div class="progress mx-auto" data-value='75'>
										<span class="progress-left">
											<span class="progress-bar border-primary"></span>
										</span>
										<span class="progress-right">
											<span class="progress-bar border-primary"></span>
										</span>
										<div
											class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
											<div class="h2 font-weight-bold">75<sup class="small">%</sup></div>
										</div>
									</div>
									<!-- END -->

									<!-- Demo info -->
									<div class="row text-center mt-4">
										<div class="col-6 border-right">
											<div class="h4 font-weight-bold mb-0">28%</div><span
												class="small text-gray">Last week</span>
										</div>
										<div class="col-6">
											<div class="h4 font-weight-bold mb-0">60%</div><span
												class="small text-gray">Last month</span>
										</div>
									</div>
									<!-- END -->
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 animate-box">
								<div class="progress-wrap ftco-animate">
									<h3>NODE.JS</h3>
									<div class="progress">
										<div class="progress-bar color-1" role="progressbar" aria-valuenow="90"
											aria-valuemin="0" aria-valuemax="100" style="width:90%">
											<span>90%</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6 animate-box">
								<div class="progress-wrap ftco-animate">
									<h3>MongoDB</h3>
									<div class="progress">
										<div class="progress-bar color-2" role="progressbar" aria-valuenow="85"
											aria-valuemin="0" aria-valuemax="100" style="width:85%">
											<span>85%</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6 animate-box">
								<div class="progress-wrap ftco-animate">
									<h3>HTML5</h3>
									<div class="progress">
										<div class="progress-bar color-3" role="progressbar" aria-valuenow="95"
											aria-valuemin="0" aria-valuemax="100" style="width:95%">
											<span>95%</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6 animate-box">
								<div class="progress-wrap ftco-animate">
									<h3>CSS3</h3>
									<div class="progress">
										<div class="progress-bar color-4" role="progressbar" aria-valuenow="90"
											aria-valuemin="0" aria-valuemax="100" style="width:90%">
											<span>90%</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6 animate-box">
								<div class="progress-wrap ftco-animate">
									<h3>WordPress</h3>
									<div class="progress">
										<div class="progress-bar color-5" role="progressbar" aria-valuenow="70"
											aria-valuemin="0" aria-valuemax="100" style="width:70%">
											<span>70%</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6 animate-box">
								<div class="progress-wrap ftco-animate">
									<h3>SEO</h3>
									<div class="progress">
										<div class="progress-bar color-6" role="progressbar" aria-valuenow="80"
											aria-valuemin="0" aria-valuemax="100" style="width:80%">
											<span>80%</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="page-4" class="page four">
						<h2 class="heading">Awards</h2>
						<div class="resume-wrap d-flex ftco-animate">
							<div class="icon d-flex align-items-center justify-content-center">
								<span class="flaticon-ideas"></span>
							</div>
							<div class="text pl-3">
								<span class="date">2014-2015</span>
								<h2>Top 10 Web Developer</h2>
								<span class="position">Cambridge University</span>
								<p>A small river named Duden flows by their place and supplies it with the necessary
									regelialia. It is a paradisematic country, in which roasted parts of sentences fly
									into your mouth.</p>
							</div>
						</div>
						<div class="resume-wrap d-flex ftco-animate">
							<div class="icon d-flex align-items-center justify-content-center">
								<span class="flaticon-ideas"></span>
							</div>
							<div class="text pl-3">
								<span class="date">2014-2015</span>
								<h2>Top 5 LeaderShip Exellence Winner</h2>
								<span class="position">Cambridge University</span>
								<p>A small river named Duden flows by their place and supplies it with the necessary
									regelialia. It is a paradisematic country, in which roasted parts of sentences fly
									into your mouth.</p>
							</div>
						</div>
						<div class="resume-wrap d-flex ftco-animate">
							<div class="icon d-flex align-items-center justify-content-center">
								<span class="flaticon-ideas"></span>
							</div>
							<div class="text pl-3">
								<span class="date">2014-2015</span>
								<h2>Top 4 Web Tester</h2>
								<span class="position">Cambridge University</span>
								<p>A small river named Duden flows by their place and supplies it with the necessary
									regelialia. It is a paradisematic country, in which roasted parts of sentences fly
									into your mouth.</p>
							</div>
						</div>
						<div class="resume-wrap d-flex ftco-animate">
							<div class="icon d-flex align-items-center justify-content-center">
								<span class="flaticon-ideas"></span>
							</div>
							<div class="text pl-3">
								<span class="date">2014-2015</span>
								<h2>Art &amp; Creative Director</h2>
								<span class="position">Cambridge University</span>
								<p>A small river named Duden flows by their place and supplies it with the necessary
									regelialia. It is a paradisematic country, in which roasted parts of sentences fly
									into your mouth.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>




	<section class="ftco-section" id="services-section">
		<div class="container-fluid px-md-5">
			<div class="row justify-content-center py-5 mt-5">
				<div class="col-md-12 heading-section text-center ftco-animate">
					<h1 class="big big-2">Services</h1>
					<h2 class="mb-4">Services</h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
				</div>
			</div>
			<div class="row">

				<div class="col-md-4 text-center d-flex ftco-animate">
					<a href="#" class="services-1 shadow">
						<span class="icon">
							<i class="flaticon-innovation"></i>
						</span>
						<div class="desc">
							<h3 class="mb-5">App Developing</h3>
							<p>A small river named Duden flows by their place and supplies it with the necessary
								regelialia.</p>
						</div>
					</a>
				</div>

				<div class="col-md-4 text-center d-flex ftco-animate">
					<a href="#" class="services-1 shadow">
						<span class="icon">
							<i class="flaticon-ideas"></i>
						</span>
						<div class="desc">
							<h3 class="mb-5">Web Developer</h3>
							<p>A small river named Duden flows by their place and supplies it with the necessary
								regelialia.</p>
						</div>
					</a>
				</div>

				<div class="col-md-4 text-center d-flex ftco-animate">
					<a href="#" class="services-1 shadow">
						<span class="icon">
							<i class="flaticon-analysis"></i>
						</span>
						<div class="desc">
							<h3 class="mb-5">Web Design</h3>
							<p>A small river named Duden flows by their place and supplies it with the necessary
								regelialia.</p>
						</div>
					</a>
				</div>
				<div class="col-md-4 text-center d-flex ftco-animate">
					<a href="#" class="services-1 shadow">
						<span class="icon">
							<i class="flaticon-flasks"></i>
						</span>
						<div class="desc">
							<h3 class="mb-5">Phtography</h3>
							<p>A small river named Duden flows by their place and supplies it with the necessary
								regelialia.</p>
						</div>
					</a>
				</div>
				<div class="col-md-4 text-center d-flex ftco-animate">
					<a href="#" class="services-1 shadow">
						<span class="icon">
							<i class="flaticon-ux-design"></i>
						</span>
						<div class="desc">
							<h3 class="mb-5">Branding</h3>
							<p>A small river named Duden flows by their place and supplies it with the necessary
								regelialia.</p>
						</div>
					</a>
				</div>
				<div class="col-md-4 text-center d-flex ftco-animate">
					<a href="#" class="services-1 shadow">
						<span class="icon">
							<i class="flaticon-idea"></i>
						</span>
						<div class="desc">
							<h3 class="mb-5">Product Strategy</h3>
							<p>A small river named Duden flows by their place and supplies it with the necessary
								regelialia.</p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>



	<section class="ftco-section ftco-project" id="projects-section">
		<div class="container-fluid px-md-0">
			<div class="row no-gutters justify-content-center pb-5">
				<div class="col-md-12 heading-section text-center ftco-animate">
					<h1 class="big big-2">Projects</h1>
					<h2 class="mb-4">Our Projects</h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
				</div>
			</div>
			<div class="row no-gutters">
				<div class="col-md-4">
					<div class="project img ftco-animate d-flex justify-content-center align-items-center"
						style="background-image: url(images/work-1.jpg);">
						<div class="overlay"></div>
						<div class="text text-center p-4">
							<h3><a href="#">Branding &amp; Illustration Design</a></h3>
							<span>Web Design</span>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="project img ftco-animate d-flex justify-content-center align-items-center"
						style="background-image: url(images/work-2.jpg);">
						<div class="overlay"></div>
						<div class="text text-center p-4">
							<h3><a href="#">Branding &amp; Illustration Design</a></h3>
							<span>Web Design</span>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="project img ftco-animate d-flex justify-content-center align-items-center"
						style="background-image: url(images/work-3.jpg);">
						<div class="overlay"></div>
						<div class="text text-center p-4">
							<h3><a href="#">Branding &amp; Illustration Design</a></h3>
							<span>Web Design</span>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="project img ftco-animate d-flex justify-content-center align-items-center"
						style="background-image: url(images/work-4.jpg);">
						<div class="overlay"></div>
						<div class="text text-center p-4">
							<h3><a href="#">Branding &amp; Illustration Design</a></h3>
							<span>Web Design</span>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="project img ftco-animate d-flex justify-content-center align-items-center"
						style="background-image: url(images/work-5.jpg);">
						<div class="overlay"></div>
						<div class="text text-center p-4">
							<h3><a href="#">Branding &amp; Illustration Design</a></h3>
							<span>Web Design</span>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="project img ftco-animate d-flex justify-content-center align-items-center"
						style="background-image: url(images/work-6.jpg);">
						<div class="overlay"></div>
						<div class="text text-center p-4">
							<h3><a href="#">Branding &amp; Illustration Design</a></h3>
							<span>Web Design</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{{!-- 
<section>
	<div style="display: inline-block; width:100%; margin:200px 200px 200px 200px; border:1px; border-color:black" >

		<div style="border:1px;border-color:black; width:30%">
			<div class="portfolio-carousel-imagebox">
				<div class="portfolio-carousel-content">
					<div class="portfolio-carousel-item"><a href="single.html" class="block-20"
							style="background-image: url('images/image_3.jpg');">
						</a></div>
					<div class="portfolio-carousel-item">2</div>
					<div class="portfolio-carousel-item">3</div>
				</div>
			</div>
		</div>

		<div style="border:1px;border-color:black; width:30%">
			<div class="portfolio-carousel-imagebox">
				<div class="portfolio-carousel-content">
					<div class="portfolio-carousel-item"><a href="single.html" class="block-20"
							style="background-image: url('images/image_3.jpg');">
						</a></div>
					<div class="portfolio-carousel-item">2</div>
					<div class="portfolio-carousel-item">3</div>
				</div>
			</div>
		</div>

		<div style="border:1px;border-color:black;  width:30%">
			<div class="portfolio-carousel-imagebox">
				<div class="portfolio-carousel-content">
					<div class="portfolio-carousel-item"><a href="single.html" class="block-20"
							style="background-image: url('images/image_3.jpg');">
						</a></div>
					<div class="portfolio-carousel-item">2</div>
					<div class="portfolio-carousel-item">3</div>
				</div>
			</div>
		</div>

	</div>
</section> --}}


	{{!-- <section class="ftco-section ftco-no-pt ftco-no-pb ftco-counter img" id="section-counter">
		<div class="container-fluid px-md-5">
			<div class="row d-md-flex align-items-center">
				<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
					<div class="block-18 shadow">
						<div class="text">
							<strong class="number" data-number="100">0</strong>
							<span>Awards</span>
						</div>
					</div>
				</div>
				<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
					<div class="block-18 shadow">
						<div class="text">
							<strong class="number" data-number="1200">0</strong>
							<span>Complete Projects</span>
						</div>
					</div>
				</div>
				<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
					<div class="block-18 shadow">
						<div class="text">
							<strong class="number" data-number="1200">0</strong>
							<span>Happy Customers</span>
						</div>
					</div>
				</div>
				<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
					<div class="block-18 shadow">
						<div class="text">
							<strong class="number" data-number="500">0</strong>
							<span>Cups of coffee</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> --}}


	<section align="center" style="padding-top: 100px;">
		<div align="center">
			<video autoplay muted loop width="100%" id="myVideo">
				<source src="./videos/Korea.mp4" type="video/mp4">
				Sorry, your browser doesn't support embedded videos.
			</video>
	
			<div class="content">
				<h1 style="color:white">Seoul, Republic of Korea </h1>
				<p>Seoul, the capital of South Korea, is a huge metropolis where modern skyscrapers, high-tech subways and pop culture meet Buddhist temples, palaces and street markets. Notable attractions include futuristic Dongdaemun Design Plaza, a convention hall with curving architecture and a rooftop park; Gyeongbokgung Palace, which once had more than 7,000 rooms; and Jogyesa Temple, site of ancient locust and pine trees.</p>
				<button id="myBtn" onclick="myFunction()">Pause</button>
			</div>
		</div>
	</section>

	<section class="ftco-section ftco-hireme img" style="background-image: url(images/developer.jpg); margin-top:150px">
		{{!-- <div class="overlay"></div> --}}
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-7 ftco-animate text-center">
					<h2>I'm <span>Available</span> for freelancing</h2>
					{{!-- <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p> --}}
					<p class="mb-0"><a href="#" class="btn btn-primary py-3 px-5">Hire me</a></p>
				</div>
			</div>
		</div>
	</section>



	<section class="ftco-section contact-section ftco-no-pb" id="contact-section">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-3">
				<div class="col-md-7 heading-section text-center ftco-animate">
					<h1 class="big big-2">Contact</h1>
					<h2 class="mb-4">Contact Me</h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
				</div>
			</div>

			<div class="row d-flex contact-info mb-5">
				<div class="col-md-6 col-lg-3 d-flex ftco-animate">
					<div class="align-self-stretch box text-center p-4 shadow">
						<div class="icon d-flex align-items-center justify-content-center">
							<span class="icon-map-signs"></span>
						</div>
						<div>
							<h3 class="mb-4">Address</h3>
							<p>SEOUL, REPUBLIC OF KOREA</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 d-flex ftco-animate">
					<div class="align-self-stretch box text-center p-4 shadow">
						<div class="icon d-flex align-items-center justify-content-center">
							<span class="icon-phone2"></span>
						</div>
						<div>
							<h3 class="mb-4">Contact Number</h3>
							<p><a href="tel://+821058438814">(+82) 010 5843 8814</a></p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 d-flex ftco-animate">
					<div class="align-self-stretch box text-center p-4 shadow">
						<div class="icon d-flex align-items-center justify-content-center">
							<span class="icon-paper-plane"></span>
						</div>
						<div>
							<h3 class="mb-4">Email Address</h3>
							<p><a href="mailto:Skykim1016@Gmail.com">Skykim1016@Gmail.com </a></p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 d-flex ftco-animate">
					<div class="align-self-stretch box text-center p-4 shadow">
						<div class="icon d-flex align-items-center justify-content-center">
							<span class="icon-globe"></span>
						</div>
						<div>
							<h3 class="mb-4">Website</h3>
							<p><a href="#">yoursite.com</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section" id="guestbook-section">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-5">
				<div class="col-md-7 heading-section text-center ftco-animate">
					<h1 class="big big-2">Guest Book</h1>
					<h2 class="mb-4">Guest Book</h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
				</div>
			</div>
			<div class="row d-flex">
				<div class="col-md-4 d-flex ftco-animate">
					<div class="blog-entry justify-content-end">
						<a href="single.html" class="block-20" style="background-image: url('images/image_1.jpg'); ">
						</a>
						<div class="text mt-3 float-right d-block">
							<h3 class="heading"><a href="single.html">Why Lead Generation is Key for Business Growth</a>
							</h3>
							<div class="d-flex align-items-center mb-3 meta">
								<p class="mb-0">
									<span class="mr-2">Sept. 12, 2019</span>
									<a href="#" class="mr-2">Admin</a>
									<a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
								</p>
							</div>
							<p>A small river named Duden flows by their place and supplies it with the necessary
								regelialia.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 d-flex ftco-animate">
					<div class="blog-entry justify-content-end">
						<a href="single.html" class="block-20" style="background-image: url('images/image_2.jpg');">
						</a>
						<div class="text mt-3 float-right d-block">
							<h3 class="heading"><a href="single.html">Why Lead Generation is Key for Business Growth</a>
							</h3>
							<div class="d-flex align-items-center mb-3 meta">
								<p class="mb-0">
									<span class="mr-2">Sept. 12, 2019</span>
									<a href="#" class="mr-2">Admin</a>
									<a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
								</p>
							</div>
							<p>A small river named Duden flows by their place and supplies it with the necessary
								regelialia.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 d-flex ftco-animate">
					<div class="blog-entry">
						<a href="single.html" class="block-20" style="background-image: url('images/image_3.jpg');">
						</a>
						<div class="text mt-3 float-right d-block">
							<h3 class="heading"><a href="single.html">Why Lead Generation is Key for Business Growth</a>
							</h3>
							<div class="d-flex align-items-center mb-3 meta">
								<p class="mb-0">
									<span class="mr-2">Sept. 12, 2019</span>
									<a href="#" class="mr-2">Admin</a>
									<a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
								</p>
							</div>
							<p>A small river named Duden flows by their place and supplies it with the necessary
								regelialia.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>

	{{>footer}}


	<!-- loader -->
	<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
			<circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
			<circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
				stroke="#F96D00" /></svg></div>


	<script src="js/jquery.min.js"></script>
	<script src="js/jquery-migrate-3.0.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.easing.1.3.js"></script>
	<script src="js/jquery.waypoints.min.js"></script>
	<script src="js/jquery.stellar.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/aos.js"></script>
	<script src="js/jquery.animateNumber.min.js"></script>
	<script src="js/scrollax.min.js"></script>

	<script src="js/main.js"></script>

	<!-- For Socket Chatting -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.6.0/qs.min.js"></script>
	<script src="socket.io/socket.io.js"></script>
	<script src="js/custmizing/chat.js"></script>
	<!-- For Socket Chatting -->


</body>

</html>